:root {
  --primary-color: #ff9854;
  --line-color: #faf8f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

  /* 全局修改 */
  --van-primary-color: var(--primary-color);
  --van-search-left-icon-color: var(--primary-color) !important;
}

body {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
}

.top-page {
  height: 100vh;
  width: 100%;
  z-index: 9;
  overflow-y: auto;
  background-color: #fff;
  position: relative;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}